@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to hide scrollbars */
html::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

* {
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.read-more-btn .dot {
  transition: transform 0.3s ease;
}

.read-more-btn:hover .dot {
  transform: scale(6);
}

.nav-link {
  /* Your existing styles */
  color: white; /* Text color */
  cursor: pointer;
  /* transition: color 0.3s ease-in-out; Smooth color transition */
}

.nav-link:hover {
  color: #CDEA68; /* Glow color on hover */
}


